CompileFlags:
  CompilationDatabase: >-
    c:\Users\Uni\Desktop\ITS-BRD-VSC\Programs\GSP01_Taneschnerchner\out\GSP01_Taneschnerchner\ITSboard\Debug
  Add:
    - >-
      -IC:/Users/Uni/Desktop/ITS-BRD-VSC/Programs/GSP01_Taneschnerchner/../../stm32cubef4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -IC:/Users/Uni/Desktop/ITS-BRD-VSC/Programs/GSP01_Taneschnerchner/../../stm32cubef4/Drivers/CMSIS/Include
    - >-
      -IC:/Users/Uni/Desktop/ITS-BRD-VSC/Programs/GSP01_Taneschnerchner/../../stm32cubef4/Drivers/STM32F4xx_HAL_Driver/Inc
    - >-
      -IC:/Users/Uni/Desktop/ITS-BRD-VSC/Programs/GSP01_Taneschnerchner/../../stm32cubef4/Drivers/BSP/STM32F4xx_Nucleo_144
    - >-
      -IC:/Users/Uni/Desktop/ITS-BRD-VSC/Programs/GSP01_Taneschnerchner/../../stm32cubef4/Utilities/Fonts
    - >-
      -IC:/Users/Uni/Desktop/ITS-BRD-VSC/Programs/GSP01_Taneschnerchner/../../DisplayWaveshare/Inc
    - >-
      -IC:/Users/Uni/Desktop/ITS-BRD-VSC/Programs/GSP01_Taneschnerchner/../../ITS_BRD_LIB/Utilities/AddFonts
    - >-
      -IC:/Users/Uni/Desktop/ITS-BRD-VSC/Programs/GSP01_Taneschnerchner/tmp/GSP01_Taneschnerchner.Debug+ITSboard
    - >-
      -IC:/Users/Uni/Desktop/ITS-BRD-VSC/Programs/GSP01_Taneschnerchner/RTE/_Debug_ITSboard
    - '-IC:/Users/Uni/AppData/Local/arm/packs/ARM/CMSIS/6.1.0/CMSIS/Core/Include'
    - >-
      -IC:/Users/Uni/AppData/Local/arm/packs/Keil/STM32F4xx_DFP/2.17.1/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -IC:/Users/Uni/Desktop/ITS-BRD-VSC/Programs/GSP01_Taneschnerchner/../../ITS_BRD_LIB/Inc
    - '-IC:/Users/Uni/Desktop/ITS-BRD-VSC/Programs/GSP01_Taneschnerchner/Inc'
